
# =========================================================

#none of these will appear on the github ==================

# =========================================================

.Rproj.user
.Rhistory
.RData
.Ruserdata


#Dataset Files ______________________________________________

##scRNA
PrimscRNA_Orig_Dataset_Files/
antiPD1_FinalObjects/
antiPD1_Intermobjects/
PrimaryBreast_Processing/Individual_Dataset_Objects/
PrimaryBreast_Processing/Integration_Objects/
PrimaryBreast_Processing/Main_Prim_Object/

##RPPA
RPPA_Orig_DataFiles/

##bulkRNA
Cellline_Orig_Dataset_Files/
iSPY_Objects/
iSPY_Original_Dataset_Files/
brca_metabric_origfiles/
Metabric_Objects/
TCGA_Objects/


#_________________________________________________________

#any objects
*.rds
*.tsv
*.mtx
*.txt

#any images
*.pdf
*.png
*.jpg
*.jpeg

#any tables
*.csv
*.xlsx

